<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Runs</title>

    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <!-- Responsive -->
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">


    <!-- Column reorder -->

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.dataTables.min.css">
    <script src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>


    <!-- Scroller for fast rendering-->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/scroller/1.4.2/css/scroller.dataTables.min.css">
    <script src="https://cdn.datatables.net/scroller/1.4.2/js/dataTables.scroller.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('table').DataTable(
                {
                    responsive: true,
                    colReorder: true,
                    // Scroller:
                    scrollY: 200,
                    deferRender: true,
                    scroller: false,

                    serverSide: true,
                    ajax: '/api/runs',
                    "columns": [
                        {"data": "experiment_name"},
                        {"data": "status"},
                        {"data": "start_time"},
                        {"data": "heartbeat"},
                        {"data": "heartbeat_diff"},
                        {"data": "hostname"},
                        {"data": "captured_out_last_line"},
                        {"data": "result"}
                    ]
                }
            );
        });
    </script>
</head>
<body>
<h1>This is the list of runs</h1>
<table>
    <thead>
    <tr>
        <th>Experiment name</th>
        <th>Status</th>
        <th>Start time</th>
        <th>Last activity</th>
        <th>No update for (s)</th>
        <th>Hostname</th>
        <th>Last captured output</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    {% for run in runs %}
    <tr>
        <td>{{run.experiment.name}}</td>
        <td title="{{run.status}}">{{run.status | first_letter}}</td>
        <td>{{run.start_time | format_datetime}}</td>
        <td>{{run.heartbeat | format_datetime }}</td>
        <td>{{run.heartbeat | timediff}}</td>
        <td>{{run.host.hostname}}</td>
        <td>{{run.captured_out | last_line}}</td>
        <td>{{run.result}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>