<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Runs</title>
</head>
<body>
<h1>This is the list of runs</h1>
<table>
    <thead>
    <tr>
        <th>Experiment name</th>
        <th>Status</th>
        <th>Start time</th>
        <th>Last active</th>
        <th>Active before</th>
    </tr>
    </thead>
    <tbody>
    {% for run in runs %}
    <tr>
        <td>{{run.experiment.name}}</td>
        <td>{{run.status}}</td>
        <td>{{run.start_time}}</td>
        <td>{{run.heartbeat}}</td>
        <td>{{run.heartbeat | timediff}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>