<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Runs</title>

    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <!-- Responsive -->
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">


    <!-- Column reorder -->

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.dataTables.min.css">
    <script src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>


    <!-- Scroller for fast rendering-->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/scroller/1.4.2/css/scroller.dataTables.min.css">
    <script src="https://cdn.datatables.net/scroller/1.4.2/js/dataTables.scroller.min.js"></script>

    <!-- master-detail view -->
    <style type="text/css">
        #runs tr {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        function format(d) {
            // `d` is the original data object for the row
            /*return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
             '<tr>' +
             '<td>Full name:</td>' +
             '<td>' + d.name + '</td>' +
             '</tr>' +
             '<tr>' +
             '<td>Extension number:</td>' +
             '<td>' + d.extn + '</td>' +
             '</tr>' +
             '<tr>' +
             '<td>Extra info:</td>' +
             '<td>And any further details here (images etc)...</td>' +
             '</tr>' +
             '</table>';*/
            return "This is gonna contain details for row id = " + d.id;
        }
        $(document).ready(function () {
           var table = $('#runs').DataTable(
                {
                    responsive: false,
                    colReorder: true,
                    // Scroller:
                    scrollY: window.innerHeight / 1.3,
                    deferRender: true,
                    scroller: false,

                    serverSide: true,
                    ajax: '/api/runs',
                    "columns": [
                        {"data": "experiment_name", "name": "experiment.name"},
                        {
                            "data": "status", "name": "status", "render": function (data, row) {
                            return data[0];
                        }
                        },
                        {"data": "start_time", "name": "start_time"},
                        {"data": "heartbeat", "name": "heartbeat"},
                        {"data": "heartbeat_diff", "name": "heartbeat"},
                        {"data": "hostname", "name": "hostname"},
                        {"data": "captured_out_last_line", "name": "captured_out", "orderable": false},
                        {"data": "result", "name": "result"},
                        {"data": "id", "visible": false}
                    ],
                    order: [["4", "desc"]]
                }
            );
            // Add event listener for opening and closing details
            $('#runs tbody').on('click', 'tr', function () {
                var tr = $(this)
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });


    </script>
</head>
<body>
<h1>This is the list of runs</h1>
<table id="runs">
    <thead>
    <tr>
        <th>Experiment name</th>
        <th>Status</th>
        <th>Start time</th>
        <th>Last activity</th>
        <th>No update for (s)</th>
        <th>Hostname</th>
        <th>Last captured output</th>
        <th>Result</th>

    </tr>
    </thead>
    <tbody>
    {% for run in runs %}
    <tr>
        <td></td>
        <td>{{run.experiment.name}}</td>
        <td title="{{run.status}}">{{run.status | first_letter}}</td>
        <td>{{run.start_time | format_datetime}}</td>
        <td>{{run.heartbeat | format_datetime }}</td>
        <td>{{run.heartbeat | timediff}}</td>
        <td>{{run.host.hostname}}</td>
        <td>{{run.captured_out | last_line}}</td>
        <td>{{run.result}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>